body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff0f5;
    font-family: 'Comic Sans MS', cursive;
}

h1 {
    color: #ff69b4;
    font-size: 36px;
    margin-bottom: 10px;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    gap: 2px;
    background-color: #ffcde1;
    border: 3px solid #ff69b4;
    padding: 10px;
    border-radius: 10px;

    margin-left: auto;
    margin-right: auto; 
    margin-top: 20px;
    width: fit-content;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: #ffcde1;
    border-radius: 6px;
}

.snake {
    background-color: #90ee90; 
    border-radius: 8px;
    box-shadow: 0 0 4px #006400;
}

.fruit {
    background-color: #ff1493; 
    border-radius: 50%;
    box-shadow: 0 0 5px #c71585;
}

#status {
    font-size: 18px;
    margin-top: 15px;
    color: #d63384;
}
