.board {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    gap: 1px;
    background-color: black;
    margin-top: 20px;
}

.cell {
    width:30px;
    height: 30px;
    background-color: #ddd;
}

.snake{
    background-color: green;
}

.fruit{
    background-color: red;
}